{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Health Worker Dashboard{% endblock %}</title>
    <!-- Tailwind CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-...replace_with_integrity_code_here...="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

      <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <!-- Your custom styles -->
    {% tailwind_css %}
    <style>

    
  .application-list {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
  }
  .application {
      border-bottom: 1px solid #ddd;
      padding: 15px 0;
  }
  .application:last-child {
      border-bottom: none;
  }
  .application h3 {
      margin: 0;
      color: #2c3e50;
  }
  .application p {
      margin: 5px 0;
      color: #7f8c8d;
  }


      /* Notification section styling */
      .notifications {
        background-color: #fefefe;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .notifications ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .notifications li {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        animation: blink 1s linear infinite;
    }
    .notifications p {
        margin: 0;
    }
    .notifications .message {
        color: #2c3e50;
        font-weight: bold;
    }
    .notifications .date {
        color: #7f8c8d;
        font-size: 12px;
    }

    /* Blink effect */
    @keyframes blink {
        0%, 49% {
            background-color: #8ef600;
        }
        50%, 100% {
            background-color: transparent;
        }
    }
    
      /* Loader Styles */
      #loader-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.9);
      }

      #loader {
        border: 7px solid #3498db;
        border-top: 7px solid #f1f1f1;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body class="bg-gray-100">
<!-- Header -->
<header class="bg-white dark:bg-gray-800 shadow-md border-b border-blue-400 transition-colors duration-300">
  <div class="container mx-auto flex items-center justify-between py-4 px-6">
    <div class="flex items-center space-x-4">
      <!-- Logo -->
      <img src="{% static 'img/logo.png' %}" alt="Logo" class="w-10 h-10" />
      <a href="{% url 'dashboard' %}" class="text-2xl font-bold text-gray-900 dark:text-white">
        (AMHSG) - HUMAN RESOURCE DIRECTORATE
      </a>
    </div>
    <nav class="hidden md:flex space-x-4">
      <a href="{% url 'job-list' %}" class="px-4 py-2 text-gray-800 dark:text-gray-200 hover:bg-yellow-600 hover:text-white rounded-md transition-colors duration-200">
        Jobs
      </a>
      <a href="{% url 'notification-list' %}" class="px-4 py-2 text-gray-800 dark:text-gray-200 hover:bg-yellow-600 hover:text-white rounded-md transition-colors duration-200">
        Notifications
      </a>
    </nav>

    <input 
    type="text" 
    name="search_box" 
    id="search_box" 
    placeholder="Search"
    class="w-1/6 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150 ease-in-out"
  />
  

    <!-- Notification Icon and Dropdown -->
    <div class="relative">
      <button id="notificationButton" class="relative flex items-center text-gray-800 dark:text-gray-200 hover:text-blue-600">
        <!-- Notification Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6 6 0 00-9-5.197V4a2 2 0 10-4 0v1.803A6 6 0 003 11v3.159c0 .538-.214 1.055-.595 1.437L1 17h5m4 0v1a2 2 0 104 0v-1m-4 0h4" />
        </svg>
        <!-- Unread Notification Count (if applicable) -->
        <span class="absolute top-0 right-0 bg-red-500 text-white text-xs font-bold rounded-full px-1">{{ notifications.count }}</span>
      </button>

      <!-- Notification Dropdown -->
      <div id="notificationDropdown" class="absolute right-0 mt-2 w-64 bg-white dark:bg-gray-700 border border-gray-200 dark:border-gray-600 rounded-md shadow-lg hidden z-10">
        <ul class="py-1 max-h-64 overflow-y-auto">
          {% for notification in notifications %}
            <li class="px-4 py-2 text-sm text-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-600">
              <p class="font-bold">{{ notification.title }}</p>
              <p class="text-xs text-gray-500 dark:text-gray-400">{{ notification.message }}</p>
              <p class="text-xs text-gray-400 dark:text-gray-500">{{ notification.date|date:"Y-m-d H:i" }}</p>
            </li>
          {% empty %}
            <li class="px-4 py-2 text-sm text-gray-800 dark:text-gray-200">No notifications</li>
          {% endfor %}
        </ul>
        <!-- View All Notifications Link -->
        <a href="{% url 'notification-list' %}" class="block text-center text-sm text-blue-700 dark:text-blue-400 py-2 hover:bg-gray-100 dark:hover:bg-gray-600">View all notifications</a>
      </div>
    </div>

    <!-- Profile Dropdown -->
    <div class="relative">
      <button id="profileMenuButton" class="flex items-center space-x-2 text-gray-800 dark:text-gray-200 hover:text-blue-600">
        <img src="{% static 'img/profile.png' %}" alt="Profile Image" class="w-10 h-10 rounded-full border-2 border-gray-300 shadow-sm" />
        <span class="hidden md:inline font-extrabold text-2xl text-blue-700 dark:text-blue-400">{{ user.username }}</span>
      </button>
      <div id="profileMenu" class="absolute right-0 mt-2 w-48 bg-white dark:bg-gray-700 border border-gray-200 dark:border-gray-600 rounded-md shadow-lg hidden">
        <ul class="py-1">
          <li>
            <a href="#" class="block px-4 py-2 text-blue-700 dark:text-blue-400 hover:bg-yellow-600 hover:text-white dark:hover:bg-yellow-600">Update Profile</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 text-blue-700 dark:text-blue-400 hover:bg-yellow-600 hover:text-white dark:hover:bg-yellow-600">Reset Password</a>
          </li>
          <li>
            <a href="{% url 'user-logout' %}" class="block px-4 py-2 text-blue-700 dark:text-blue-400 hover:bg-yellow-600 hover:text-white dark:hover:bg-yellow-600">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>







    <div class="flex flex-col md:flex-row md:space-x-4">
      <!-- Success Messages -->
      {% for message in messages %}
      <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
      />
      <script>
        Toastify({
          text: "{{ message }}",
          duration: 4000,
          gravity: "top",
          position: "center",
          backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
          className: "custom-toast",
          stopOnFocus: true,
          close: true,
          offset: {
            x: 20,
            y: 70,
          },
          style: {
            background: "linear-gradient(to right, #00b09b, #96c93d)",
            boxShadow: "0px 4px 6px rgba(0, 0, 0, 0.1)",
            borderRadius: "8px",
            fontFamily: "Arial, sans-serif",
            color: "white",
            padding: "10px 20px",
            fontSize: "16px",
          },
        }).showToast();
      </script>
      {% endfor %}
    
 <!-- Sidebar -->
<aside class="w-full md:w-1/4 bg-white shadow-md rounded-lg p-4 mb-4 md:mb-0">
  <nav class="space-y-6">
    <!-- Menu Section -->
    <div>
      <h2 class="text-xs font-semibold text-gray-500 uppercase mb-4">Menu</h2>
      <ul class="space-y-2">
        <li>
          <a
            href="{% url 'dashboard' %}"
            class="flex items-center px-4 py-2 text-gray-800 hover:bg-blue-500 rounded transition-colors duration-200"
          >
            <i class="fas fa-tachometer-alt mr-3 text-gray-600"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a
            href="{% url 'application-portal' %}"
            class="flex items-center px-4 py-2 text-gray-800 hover:bg-blue-500 rounded transition-colors duration-200"
          >
            <i class="fas fa-user-circle mr-3 text-gray-600"></i>
            Application Portal
          </a>
        </li>
        <li>
          <a
            href="{% url 'job-applications' %}"
            class="flex items-center px-4 py-2 text-gray-800 hover:bg-blue-500 rounded transition-colors duration-200"
          >
            <i class="fas fa-file-alt mr-3 text-gray-600"></i>
            My Applications
          </a>
        </li>
        <li>
          <a
            href="{% url 'my-transactions' %}"
            class="flex items-center px-4 py-2 text-gray-800 hover:bg-blue-500 rounded transition-colors duration-200"
          >
            <i class="fas fa-exchange-alt mr-3 text-gray-600"></i>
            My transactions
          </a>
        </li>
        <li>
          <a
            href="{% url 'faq' %}"
            class="flex items-center px-4 py-2 text-gray-800 hover:bg-blue-500 rounded transition-colors duration-200"
          >
            <i class="fas fa-question-circle mr-3 text-gray-600"></i>
            FAQs
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-2 text-gray-800 hover:bg-blue-500 rounded transition-colors duration-200"
          >
            <i class="fas fa-envelope mr-3 text-gray-600"></i>
            Contact Us
          </a>
          <ul class="pl-12 mt-1 space-y-1">
            <li>
              <a
                href="#"
                class="block px-4 py-1 text-gray-600 hover:underline hover:bg-blue-500"
              >
                Send us an Email
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Settings Section -->
    <div>
      <h2 class="text-xs font-semibold text-gray-500 uppercase mb-4">Settings</h2>
      <ul class="space-y-2">
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-2 text-gray-800 hover:bg-blue-500 rounded transition-colors duration-200"
          >
            <i class="fas fa-lock mr-3 text-gray-600"></i>
            Change Password
          </a>
        </li>
        <li>
          <a
            href="{% url 'user-logout' %}"
            class="flex items-center px-4 py-2 text-gray-800 hover:bg-red-500 rounded transition-colors duration-200"
          >
            <i class="fas fa-sign-out-alt mr-3 text-gray-600"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>

    

    <!-- Main Content -->
    <main class="container mx-auto p-6">
      {% block content %}
      <!-- Content will be injected here -->
      {% endblock %}
    </main>

    

    <!-- Loader -->
    <div id="loader-container" class="hidden">
      <div id="loader"></div>
    </div>


    <script>
      // Theme toggle functionality
      const themeToggleButton = document.getElementById('themeToggle');
      const themeToggleIcon = document.getElementById('themeToggleIcon');
    
      themeToggleButton.addEventListener('click', () => {
        document.body.classList.toggle('dark');
        themeToggleIcon.classList.toggle('transform');
        themeToggleIcon.classList.toggle('rotate-180');
      });
    </script>
    <!-- Include scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></scrip>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
     <!-- flatpickr Libraries -->
     <script src="https://unpkg.com/htmx.org@1.9.10"></script>
     <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
     <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      // Hide loader after page load
      $(window).on("load", function () {
        $("#loader-container").fadeOut();
      });
      
      document.addEventListener("DOMContentLoaded", function () {
        const profileMenuButton = document.getElementById("profileMenuButton");
        const profileMenu = document.getElementById("profileMenu");
        const notificationButton = document.getElementById("notificationButton");
        const notificationDropdown = document.getElementById("notificationDropdown");
      
        // Toggle the Profile Menu Dropdown
        profileMenuButton.addEventListener("click", function () {
          profileMenu.classList.toggle("hidden");
        });
      
        // Toggle the Notification Dropdown
        notificationButton.addEventListener("click", function () {
          notificationDropdown.classList.toggle("hidden");
        });
      
        // Close dropdowns if clicked outside
        document.addEventListener("click", function (event) {
          // Hide profile menu if click is outside
          if (!profileMenuButton.contains(event.target) && !profileMenu.contains(event.target)) {
            profileMenu.classList.add("hidden");
          }
      
          // Hide notification dropdown if click is outside
          if (!notificationButton.contains(event.target) && !notificationDropdown.contains(event.target)) {
            notificationDropdown.classList.add("hidden");
          }
        });
      });
      
    </script>
  </body>
</html>
