{% extends 'authentication/base.html' %} {% load static %} {% block content %}
<body class="bg-gray-100">
  <div
    class="container mx-auto px-4 py-16 flex justify-center items-center h-screen"
  >
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
      <div class="flex justify-center items-center">
        <img
          src="{% static 'img/logo.png' %}"
          alt="Ghana Coat of Arms"
          class="w-24 h-24 mb-4"
        />
      </div>

      <h2 class="text-2xl text-green-500 font-extrabold text-center mb-6">
        Register on AMHSG.GOV
      </h2>

      <!-- Success & error Messages -->
      {% for message in messages %}
      <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
      />
      <script>
        Toastify({
          text: "{{ message }}",
          duration: 4000,
          gravity: "top",
          position: "center",
          backgroundColor: "linear-gradient(to right, #f60000, #f60000)",
          className: "custom-toast",
          stopOnFocus: true,
          close: true,
          offset: {
            x: 20,
            y: 70,
          },
          style: {
            background: "linear-gradient(to right, #00b09b, #96c93d)",
            boxShadow: "0px 4px 6px rgba(0, 0, 0, 0.1)",
            borderRadius: "8px",
            fontFamily: "Arial, sans-serif",
            color: "white",
            padding: "10px 20px",
            fontSize: "16px",
          },
        }).showToast();
      </script>
      {% endfor %}

      <form action="" method="POST" class="space-y-4">
        {% csrf_token %}

        <div class="flex flex-col">
          <input
            id="username"
            type="text"
            name="username"
            placeholder="Enter Username"
            class="px-3 py-2 rounded-md border border-gray-300 w-full focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            required
          />
        </div>

        <div class="flex flex-col">
          <input
            id="first_name"
            type="text"
            name="first_name" 
            placeholder="Enter Fisrt Name"
            class="px-3 py-2 rounded-md border border-gray-300 w-full focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            required
          />
        </div>

        <div class="flex flex-col">
          <input
            id="last_name"
            type="text"
            name="last_name"
            placeholder="Enter Last Name"
            class="px-3 py-2 rounded-md border border-gray-300 w-full focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            required
          />
        </div>



        <div class="flex flex-col">
          <input
            id="email"
            type="email"
            name="email"
            placeholder="Email address"
            class="px-3 py-2 rounded-md border border-gray-300 w-full focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            required
          />
        </div>

        <div class="flex flex-col relative">
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Enter your password"
            class="px-3 py-2 rounded-md border border-gray-300 w-full focus:outline-none focus:ring-blue-500 focus:border-blue-500 pr-10"
            required
          />
        </div>

        <div class="flex flex-col relative">
          <input
            id="confirm-password"
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            class="px-3 py-2 rounded-md border border-gray-300 w-full focus:outline-none focus:ring-blue-500 focus:border-blue-500 pr-10"
            required
          />
        </div>

        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-sm"
        >
          Register
        </button>
      </form>

      <p class="text-center mt-4 text-sm text-gray-500">
        Already have an account?
        <a href="{% url 'my-login' %}" class="text-blue-500 hover:underline"
          >Sign In Here</a
        >
      </p>
    </div>
  </div>
</body>
{% endblock %}
