{% extends 'authentication/dash-base.html' %} {% load static %}{%block content%}

<div class="container">
  <h1>Make Payment</h1>
  <p><strong>Amount:</strong> {{ amount }}</p>
  <p><strong>Reference:</strong> {{ ref }}</p>
  <p><strong>Phone Number:</strong> {{ phone_number }}</p>
  <p><strong>User:</strong> {{ user }}</p>

  <button
    type="button"
    class="btn btn-success"
    onclick="payWithPayStack()"
    id="django-paystack-button"
  >
    Pay Now
  </button>
</div>

<script>
  function payWithPayStack() {
    let currency = "GHS";
    let plan = "";
    let ref = "{{ ref }}";
    let amount = "{{ payment.amount }}";
    let obj = {
      key: "{{paystack_public_key}}",
      email: "{{ payment.email }}",
      amount: amount * 100, // amount must be in cedis
      ref: ref,
      callback: function (response) {
        // Handle successful payment
        console.log("Successful Payment: ", response);
        // Redirect to success page
        window.location.href = "{% url 'verify-payment' payment.ref %}";
      },
    };
    if (Boolean(currency)) {
      obj.currency = currency.toUpperCase();
    }
    if (Boolean(plan)) {
      obj.plan = plan;
    }
    var handler = PaystackPop.setup(obj);
    handler.openIframe();
  }
</script>
<script src="https://js.paystack.co/v2/inline.js"></script>

{% endblock %}
