{% extends 'authentication/dash-base.html' %} {% load static %}{%block content%}

<div class="container mx-auto my-10 max-w-lg">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="bg-blue-600 p-4">
      <h4 class="text-white text-lg font-semibold">Make Payment</h4>
    </div>
    <div class="p-6">
      <div class="mb-4">
        <p class="text-gray-700"><strong>Amount:</strong> {{ amount }}</p>
      </div>
      <div class="mb-4">
        <p class="text-gray-700"><strong>Reference:</strong> {{ ref }}</p>
      </div>
      <div class="mb-4">
        <p class="text-gray-700">
          <strong>Phone Number:</strong> {{ phone_number }}
        </p>
      </div>
      <div class="mb-4">
        <p class="text-gray-700"><strong>User:</strong> {{ user }}</p>
      </div>
      <button
        type="button"
        class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded w-full transition duration-300"
        onclick="payWithPayStack()"
        id="django-paystack-button"
      >
        Pay Now
      </button>
    </div>
  </div>
</div>

<script>
  function payWithPayStack() {
    let currency = "GHS";
    let plan = "";
    let ref = "{{ ref }}";
    let amount = "{{ payment.amount }}";
    let obj = {
      key: "{{paystack_public_key}}",
      email: "{{ payment.email }}",
      amount: amount * 100, // amount must be in cedis
      ref: ref,
      callback: function (response) {
        // Handle successful payment
        console.log("Successful Payment: ", response);
        // Redirect to success page
        window.location.href = "{% url 'verify-payment' payment.ref job.id %}";
      },
    };
    if (Boolean(currency)) {
      obj.currency = currency.toUpperCase();
    }
    if (Boolean(plan)) {
      obj.plan = plan;
    }
    var handler = PaystackPop.setup(obj);
    handler.openIframe();
  }
</script>
<script src="https://js.paystack.co/v2/inline.js"></script>

{% endblock %}
