{% extends 'authentication/dash-base.html' %} {% load static %}{%block content%}

<div class="container">
  <h1>Make Payment</h1>
  <p><strong>Amount:</strong> {{ amount }}</p>
  <p><strong>Payment Method:</strong> {{ payment_method }}</p>
  <p><strong>Reference:</strong> {{ ref }}</p>
  <p><strong>Phone Number:</strong> {{ phone_number }}</p>
  <p><strong>User:</strong> {{ user }}</p>
  <script src="https://js.paystack.co/v2/inline.js"></script>

  <button
    type="button"
    class="btn btn-success"
    onclick="payWithPayStack()"
    id="django-paystack-button"
  >
    Pay Now
  </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.payWithPayStack = function () {
      const currency = "GHS";
      const plan = "";
      const ref = "{{ payment.ref }}";
      const obj = {
        key: "{{ paystack_public_key }}",
        amount: "{{ payment.amount_value }}",
        ref: ref,
        callback: function (response) {
          window.location.href = "{% url 'verify-payment' payment.ref %}";
        },
      };

      if (currency) {
        obj.currency = currency.toUpperCase();
      }
      if (plan) {
        obj.plan = plan;
      }
      var handler = Paystack.Pop.setup(obj);
      handler.openIframe();
    };
  });
</script>

{% endblock %}
