{% extends 'authentication/dash-base.html' %}{% load static %}{% block content%}
<div class="container mx-auto p-6 bg-white shadow-md rounded-lg">
  <h1 class="text-2xl font-semibold mb-4">User Transactions</h1>
  <table class="min-w-full bg-white border border-gray-200 rounded-md">
    <thead>
      <tr class="w-full bg-gray-100 border-b border-gray-200">
        <th class="p-3 text-left text-sm font-semibold text-gray-700">ID</th>
        <th class="p-3 text-left text-sm font-semibold text-gray-700">
          ₵Amount
        </th>
        <th class="p-3 text-left text-sm font-semibold text-gray-700">
          Reference
        </th>
        <th class="p-3 text-left text-sm font-semibold text-gray-700">Email</th>
        <th class="p-3 text-left text-sm font-semibold text-gray-700">Date</th>
        <th class="p-3 text-left text-sm font-semibold text-gray-700">
          Verification Status
        </th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
      <tr class="border-b border-gray-200">
        <td class="p-3 text-sm text-gray-700">{{ payment.id }}</td>
        <td class="p-3 text-sm text-gray-700">{{ payment.amount }}</td>
        <td class="p-3 text-sm text-gray-700 whitespace-normal break-words">
          {{ payment.ref }}
        </td>
        <td class="p-3 text-sm text-gray-700">{{ payment.email }}</td>
        <td class="p-3 text-sm text-gray-700">{{ payment.payment_date }}</td>
        {% if payment.verified %}
        <td class="p-3 text-sm text-green-700 font-extrabold">
          <i class="fa-solid fa-square-check"></i>
          Verified
        </td>
        {% else %}
        <td class="p-3 text-sm text-red-500 font-extrabold">
          <i class="fa-solid fa-circle-exclamation"></i>
          Not verified
        </td>
        {% endif %}
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="p-3 text-center text-gray-500">
          No transactions found.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
